

.container {
    align-content: center;
	margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1px;
    width:800px;
    height: 360px;
    display: block;
}

.column {
    float: left;
    border: 2px Solid #808080;
    margin: 0.5%;
    padding: 0.5%
}

#AW_myClanFrame{
    width: 56%;
    height: 78%;
}

#AW_otherClanFrame{
    width:36%;
    height: 48%;
}

#AW_ledger{
    width: 36%;
    height: 24.5%
}

#AW_ajaxresult {
    width: 94.5%;
    height: 18%;
}

.links {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0.5%;
    text-align: center;
    border: solid medium;
    padding: 0.5%;
}